{{template "base/base.html" .}}
{{define "head"}}
<title>{{i18n .Lang "websocket_chatroom"}} - {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "body"}}
<div class="container">
    <h4>{{i18n .Lang "chat_history"}}</h4>
    <ul id="chatbox" style="border: #b1b1b1 2px solid; border-radius: 2rem; height: 40rem; overflow: scroll; background: #fffb4d;">
        <li>{{i18n .Lang "welcome"}}</li>
    </ul>
</div>
<div class="container">
    <h5>{{i18n .Lang "username"}}: <span id="uname">{{.UserName}}</span></h5>
    <div style="display: flex; align-items: center;">
        <form class="form-inline" style="flex: 1; display: flex;">
            <div style="flex: 1; margin-right: 1rem;">
                <input id="sendbox" type="text" class="form-control" onkeydown="if(event.keyCode==13)return false;" required>
            </div>
            <button id="sendbtn" type="button" class="btn btn-default">{{i18n .Lang "Send"}}</button>
        </form>
    </div>
</div>
{{end}}